# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing

# production
/dist

# misc
/logs

local.dev.env
local.test.env

npm-debug.log*
